<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace="com.b0.mybatis.mapper.UserMapper" -->
<mapper namespace="com.sky.skymusic.mapper.SysSongMapper">

    <resultMap id="SysSongResult" type="SongEntity">
        <id property="songId" column="song_id"/>
        <result property="songName" column="song_name"/>
        <result property="songSource" column="song_source"/>
        <result property="singerId" column="singer_id"/>
        <result property="albumId" column="album_id"/>
        <result property="deleted" column="is_deleted"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectSong">
        select song_id,
               song_name,
               song_source,
               singer_id,
               album_id,
               is_deleted,
               update_time,
               create_time
        from song
    </sql>

    <insert id="insert" parameterType="SongEntity">
        insert into song(
        <if test="songId != null and songId != 0">song_id,</if>
        <if test="songName != null and songName != ''">song_name,</if>
        <if test="songSource != null and songSource != ''">song_source,</if>
        <if test="singerId != null and singerId != 0">singer_id,</if>
        <if test="albumId != null and albumId != 0">album_id,</if>
        <if test="deleted != null and deleted != 0">is_deleted,</if>
        <if test="updateTime != null and updateTime != ''">update_time,</if>
        <if test="createTime != null and createTime != ''">create_time,</if>
        )values(
        <if test="songId != null and songId != 0">#{songId},</if>
        <if test="songName != null and songName != ''">#{songName},</if>
        <if test="songSource != null and songSource != ''">#{songSource},</if>
        <if test="singerId != null and singerId != 0">#{singerId},</if>
        <if test="albumId != null and albumId != 0">#{albumId},</if>
        <if test="deleted != null and deleted != 0">#{deleted},</if>
        <if test="updateTime != null updateTime != ''">#{updateTime},</if>
        <if test="createTime != null createTime != ''">#{createTime},</if>
        )
    </insert>
</mapper>